@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b485f;
}

header {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav {
  display: flex;
  align-items: center;
}

header h1 {
  margin-right: 100px;
}

.header__link:first-child {
  margin-right: 20px;
}

.header__link {
  padding: 5px 10px;
  border-radius: 0.5rem;
  text-decoration: none;
}

.header__link:hover {
  background-color: #00a2ff;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  background-color: #23345a;
}

main .container {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

img.profile {
  height: 300px;
  width: 300px;
  border-radius: 1rem;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
}

.description {
  margin: 10px;
  margin-left: 100px;
  max-width: 600px;
  height: 100%;
}

.lists {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.lists ul,
ol {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

li {
  margin-top: 20px;
  margin-right: 10px;
  background-color: #00a2ff;
  text-align: center;
  width: 100px;
  height: 150px;
  padding: 0 5px;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
}

li ~ li:hover {
  background-color: #fff;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

li:hover ~ li {
  background-color: #fff;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.lists__title {
  color: #00a2ff;
  margin: 10px 0;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 20px 0;
  background-color: #23345a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  max-width: 1200px;
  width: 100%;
}

footer .links {
  width: 25%;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .icon {
  margin: 0 10px;
  width: 30px;
}

footer .copy {
  text-align: center;
}

.checkBtn {
  float: right;
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 700px) {
  main .container {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    margin: 10px;
  }

  .checkBtn {
    display: block;
  }

  #check:checked ~ .links {
    display: flex;
    flex-direction: column;
  }

  nav .links {
    display: none;
    background: #00a2ff;
    position: fixed;
    top: 140px;
    left: calc(100% - 200px);
    width: 300px;
  }

  nav a {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }
}
